@import "../../styles/colors";
@import "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 64px;
  color: $green;
  margin: $x3 0 0 0;
  font-weight: 900;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 48px;
  }
}

.leadText {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.gif {
  height: 300px;
  width: 300px;

  @media (max-width: 768px) {
    height: 250px;
    width: 250px;
  }
}

.openSeaButton {
  background-color: transparent;
  font-size: 18px;
  font-weight: 900;
  color: $green;
  margin: $x3 0;
  border: none;
  border-radius: $x1;
  text-decoration: underline;
  font-family: "Fredoka", sans-serif;
  cursor: pointer;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}
